<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Université Paris Descartes{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
	
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
	
</html>
