{% extends "::base.html.twig" %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/main.css') }}" >{% endblock %}
{% block body %}

  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
      </div>
    {% endfor %}
  {% endfor %}

  {% block fos_user_content %}
  {% endblock fos_user_content %}

{% endblock %}