{% if not session.active %}
        <a class="navigation" href="{{ path('pweb_session_bilan', {'id' : session.id }) }}">Bilan</a>
        <a class="navigation" href="{{ path('pweb_homepage') }}">Retour</a>

    {% endif %}