<div class="resultat_line">
    <p><strong>{{ rep.text }} </strong></p>
	{% if nombre == 0 %}
	<p><b>Aucun</b> élève a coché cette réponse. </p>
	{% elseif nombre == 1 %}
	<p><b>{{ nombre }}</b> élève a coché cette réponse. </p>
	{% else %}
	<p><b>{{ nombre }}</b> élèves ont coché cette réponse. </p>
	{% endif%}
</div>