{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Profil - {{ parent() }}
{% endblock %}

{% block pweb_body %}
    
    <h2>Editer profil</h2>
    <div id="profil_edit_box">
    <div> {{ form(form) }} </div>
    </div>
    
{% endblock %}