{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block pweb_body %}

    <h2>Menu principal</h2>

    <div id="nav_box">
        <a class="navigation" href="{{path ('pweb_QCM_select')}}">QCM</a>
        <a class="navigation" href="{{path ('pweb_profil')}}">Profil</a>
        <a class="navigation" href="{{path ('pweb_results')}}">Resultats</a>
    </div>
    
{% endblock %}