{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Question - {{ parent() }}
{% endblock %}

{% block pweb_body %}

    <h2 style="padding-bottom: 50px;">Création d'une question</h2>
    <div id="profil_edit_box">
		<div>
			{{ form_start(form) }}

			{{ form_errors(form) }}

			<div>
				{{ form_label(form.titre, "Titre de la question :") }}
				{{ form_row(form.titre) }}
				{{ form_errors(form.titre) }}
			</div>
			
			<div>
				{{ form_label(form.text, "Contenu") }}
				{{ form_row(form.text) }}
				{{ form_errors(form.text) }}
			</div>
			{{ form_rest(form) }}
			{{ form_row(form.reponses) }}
			<a href="#" id="add_reponse">Ajouter une réponse</a>
			{{ form_widget(form.save) }}
			{{ form_end(form) }}
			
		</div>
	</div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
    
            var $container = $('div#pwebbundle_question_reponses');


            var index = $container.find(':input').length;

        $('#add_reponse').click(function(e) {
            addReponse($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

    
        if (index == 0) {
            addReponse($container);
        } 
        else
        {
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

    // La fonction qui ajoute un formulaire ReponseType
            function addReponse($container) {
              // Dans le contenu de l'attribut « data-prototype », on remplace :
              // - le texte "__name__label__" qu'il contient par le label du champ
              // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Reponse ' + (index+1))
                    .replace(/__name__/g,        index)
                ;

                var $prototype = $(template);

                addDeleteLink($prototype);

                $container.append($prototype);

                index++;
            }

    // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>
    
{% endblock %}