{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  QCM - {{ parent() }}
{% endblock %}

{% block pweb_body %}
	<h2>{{ action }} d'un QCM</h2>
    <div id="profil_edit_box">
    <div> {{ form(form) }} </div>
    </div>
    
{% endblock %}