{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block pweb_body %}

    <h2>Lancer nouvelle session</h2>
    
    <div> {{ form(form) }} </div>
    
{% endblock %}