{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block pweb_body %}

    <h2> Profil </h2>
    <div id="profil_box">
        {% if app.user.image is not null %}
        <img src="{{ asset(app.user.image.WebPath)  }}" alt="photo de profil" height="300" width="300">
        <div id="trait"></div>
        {% endif %}
        <div>
            <h3> {{ app.user.nom }}  {{ app.user.prenom }} </h3>
            <p>    {% if app.user.groupe is not null %}
                    groupe {{ app.user.groupe.valeur }} en {{ app.user.groupe.promotion.valeur }}  
                {% endif %}
            </p>
            <p> email : {{ app.user.email }} </p>

            <a class="navigation" href="{{path ('pweb_profil_edit')}}"><div>Editer profil</div></a>
        </div>
    </div>

{% endblock %}