{% extends "PwebBundle::layout.html.twig" %}

{% block pweb_body %}
    <h2>Gestion des QCM</h2>
    
<div id="qcm_select_box">
    
    <a class="navigation"href="{{ path('pweb_QCM_create') }}" > Créer un nouveau QCM </a>

    {% for qcm in listeQCM %}
        <div class="qcm">
            <h2>{{ qcm.theme }}</h2>
			<div class="questions">
			{% for question in qcm.questions %}

				<div >
					<h3>{{ question.titre }}</h3>
					<p> {{ question.text }} </p>
				</div>

			{% endfor %}
		</div>
            <div class="mini_nav_box">
                 <a class="mini_navigation" href="{{ path('pweb_question_add', {'id' : qcm.id }) }}" > Ajouter une question</a>
                 <a class="mini_navigation" href="{{ path('pweb_QCM_delete', {'id' : qcm.id }) }}" > Supprimer</a>
                 <a class="mini_navigation" href="{{ path('pweb_QCM_edit', {'id' : qcm.id }) }}" > Editer</a>
                 <a class="mini_navigation" href="{{ path('pweb_session_create', {'id' : qcm.id }) }}" > Lancer session de test</a>
            </div>

        </div>
    {% endfor %}
</div>
{% endblock %}