{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Resultats - {{ parent() }}
{% endblock %}

{% block pweb_body %}
    <div id="session_nav_box" >
        {% for session in sessions %}
        <div>
            <h2> {{ session.titre }} le {{ session.date|date("m/d/Y", "Europe/Paris") }}</h2>
            <h3> Theme : {{ session.QCM.theme }}</h3>
            <p> Avec {{ session.prof.prenom }} {{ session.prof.nom }}</p>
            <a class="navigation" href="{{ path('pweb_session', {'id' : session.id}) }}">Consulter</a>
        </div>
        {% endfor %}
    </div>

{% endblock %}