{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block pweb_body %}
    
    <h2> Session {{ session.titre }}</h2>
    <div class="session_bilan_box">
		<ol type="I">
			{% for question in session.questions %}
				<li>    <h3> {{ question.text }} </h3>
					<ol type="a">
						{% for reponse in question.reponses %}
							<li>
								<div style="padding-top:10px;" {% if reponse.estValide %}
								class="bonne"
								{% else %}
								class="mauvaise"
								{% endif %} ><p><strong>{{ reponse.text }} </strong></p></div>
								{% set found = '' %}
								{% for resultat in app.user.resultats %}
									{% if resultat.reponse == reponse and resultat.bilan.session == session %}
										{% set found = 'true' %}
									{% endif %}
								{% endfor %}
									
								{% if found == 'true' %}
									{% if reponse.estValide %}
										<p>Vous avez eu la bonne réponse.</p>
									{% else %}
										<p>Vous vous êtes trompé.</p>
									{% endif%}
								{% elseif reponse.estValide %}
									<p>Il vous manquait cette réponse.</p>
								{% endif %}
								
							</li>
						{% endfor %}
					</ol>
				</li>
			{% endfor %}
			<p> <br> Votre note <strong style="color:blue;">{{ resultat.getNote(session, app.user) | number_format(2,',','')}} / 20 </strong> </p>
			<p> La moyenne de la classe est de <strong style="color:blue;">{{  resultat.getMoyenne(session) | number_format(2,',','') }} / 20</strong> avec {{ session.bilan.nombreParticipants}} participants.</p>
			
		</ol>
    </div>
    
{% endblock %}