{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Bilan - {{ parent() }}
{% endblock %}

{% block pweb_body %}


	<h2>Bilan de session : {{ session.titre }}</h2>
	<div class="session_bilan_box">
		{% for eleve in eleves %}
			{% if eleve.hasParticipated(session) %}
			<div class="eleve_result">
				{% if eleve.image is not null %} <img src="{{ asset (eleve.image.WebPath) }}" alt="Photo de profil" height="80" width="80"> {% endif %}
				<p>{{eleve.nom}} {{eleve.prenom}} à obtenu la note de <strong style="color:blue;">{{resultat.note(session, eleve) | number_format(2,',','')}} / 20 </strong>.</p>
			</div>
			{% endif %}
		{% endfor %}
		
		<p> La moyenne pour cette session est de  <strong style="color:blue;">{{ resultat.getMoyenne(session)| number_format(2,',','') }} / 20</strong> avec {{ session.bilan.nombreParticipants}} participants.</p>
		<p> La meilleure note est de  <strong style="color:green;">{{ resultat.PlusHaute(session)| number_format(2,',','') }} / 20</strong>.</p>
		<p> La pire note est de  <strong style="color:red;">{{ resultat.PlusBasse(session) | number_format(2,',','')}} / 20</strong>.</p>
		<ol type="I">
			{% for question in session.questions %}
				<li>    <h3> {{ question.text }} </h3>
					<ol type="a">
						{% for reponse in question.reponses %}
							<li>
								<div {% if reponse.estValide %}
								class="bonne"
								{% else %}
								class="mauvaise"
								{% endif %} >{{ render(controller('PwebBundle:Pweb:resultCount' , {'bilan' : session.bilan , 'reponse' : reponse})) }}</div>
								
							</li>
							<p><br\></p>
						{% endfor %}
					</ol>
				</li>
			{% endfor %}
			<div id="centered"><a class="navigation" href="{{ export.exporter(session) }}" >Exporter</a></div>
		</ol>
	</div>
        
{% endblock %}