{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Session - Prof - {{ parent() }}
{% endblock %}


{% block pweb_body %}

    <h2> Session {{ session.titre }}</h2>
    <div id="session_manag_box">
        {% if session.showResults %}
            <a class="navigation" href="{{path('pweb_session_showResults', { 'id' : session.id}) }}">Masquer résultats</a>
        {% else %}
            <a class="navigation" href="{{path('pweb_session_showResults', { 'id' : session.id}) }}">Afficher résultats</a>
        {% endif %}
        
        
        {% for question in session.QCM.questions %}
            <div class="intern">
                <div>
                    <h3> {{ question.titre }} </h3>
                    <p> {{ question.text }} </p>
                </div>
                <div>
                {% if question in session.questions %}
                    {% if session.showResults %}
                        {%  for reponse in question.reponses %}
                            {{ render(controller('PwebBundle:Pweb:resultCount' , {'bilan' : session.bilan , 'reponse' : reponse})) }} 
                        {% endfor %}
                    {% endif %}
                {% elseif session.active %}
                    <a class="navigation"href="{{ path('pweb_session_question_add' , { 'sessionId' : session.id , 'questionId' : question.id} ) }}">Ajouter question à la session</a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if session.active %}
            <a class="navigation" href="{{ path('pweb_session_end' , { 'id' : session.id}) }}"> Fin de session </a>
        {% else %}
    
        {{ include ('PwebBundle:Include:bilanRetour.html.twig') }}
		{% endif %}
    </div>

{% endblock %}