{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Session de test - {{ parent() }}
{% endblock %}

{% block meta %}<meta http-equiv="refresh" content="5">{% endblock %}

{% block pweb_body %}

    <div id="session_box">
    <h2> Session {{ session.titre }}</h2>
    
    <ol type="I">
        {% for question in session.questions %}
            <li>    <h3> {{ question.text }} </h3>
                
                    {% for reponse in question.reponses %}
							<p>{{ reponse.text }}</p>
                            {% if session.active %}
                                
                                {% set found = '' %}
                                {% for resultat in app.user.resultats %}
                                    {% if resultat.reponse == reponse %}
                                        {% set found = 'true' %}
                                    {% endif %}
                                {% endfor %}
                            
                            
                                {% if found == 'true' %}
                                    <a class="navigation" href="{{ path('pweb_result_remove', {'sessionId' : session.id , 'reponseId' : reponse.id}) }}">Retirer réponse</a>
                                {% else %}
                                    <a class="navigation" href="{{ path('pweb_result_add', {'sessionId' : session.id , 'reponseId' : reponse.id}) }}">Ajouter réponse</a>
                                {% endif %}
                            {% else %}
                               
                            {% endif %}
                        
                    {% endfor %}
                
            </li>
        {% endfor %}
    </ol>
    
    <div id="bilan_retour_box">{{ include ('PwebBundle:Include:bilanRetour.html.twig') }}</div>
    </div>

{% endblock %}