{% extends "PwebBundle::layout.html.twig" %}

{% block title %}
  Selection session - {{ parent() }}
{% endblock %}

{% block pweb_body %}

    <h2>Selection de session</h2>
    
    {% if sessions is empty %}
    <p style="text-align:center;">Il n'y a pas de session active pour le moment.</p>
    <a class="navigation" href="{{ path('pweb_homepage') }}">Retour</a>
    {% else %}
    
    <div id="session_nav_box" >
        {% for session in sessions %}
        <div>
            <h2> {{ session.titre }} le {{ session.date|date("m/d/Y", "Europe/Paris") }}</h2>
            <h3> Theme : {{ session.QCM.theme }}</h3>
            <p> Avec {{ session.prof.prenom }} {{ session.prof.nom }}</p>
            <a class="navigation" href="{{ path('pweb_session', {'id' : session.id}) }}">Participer</a>
        </div>
        {% endfor %}
    </div>
    
    {% endif %}

{% endblock %}