{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block meta %} {% endblock %}

{% block stylesheets %}<link href="{{ asset ('main.css')}}" rel="stylesheet"/>{% endblock %}

{% block body %}

<header>
    <a id="logo" href="{{ path('pweb_homepage') }}">
    <img src="{{ asset ( 'logo.png' ) }}" alt="logo Université Paris Descartes" height="90" width="283">
    </a>
    <p> Bonjour <b>{{ app.user.prenom }} {{app.user.nom }}</b>
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    </p>
    <a id="nom_site" href="{{ path('pweb_homepage') }}"><h1> Live QCM <h1></a>
</header>

<div id="pweb_body">{% block pweb_body %}{% endblock %}</div>

<footer>
    <p>Projet Pweb 2016<br/>
    Fait par Bastien Bouquin et Renan Gimenez<br/>
    Encadré par Jean-Michel Ilié</p>
</footer>

{% endblock %}
{% block javascripts %}{% endblock %}