header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    order: 1;
    margin:0px;
    padding-top: 0px;
    width: 100%;
    background-color: #e9e9e9;
}

p{
    font-family: roboto;
}

header p {
    padding-top: 0px;
    padding-right:50px;
    order: 3;
    margin: auto;
    margin-top: 5px;
    margin-right : 0px;
    font-family: roboto;
    color: #686868;
}

#nom_site{
    order: 2;
    text-decoration:none;
    flex: 1;
    color: #686868;
    padding: 0px;
}

#nom_site h1{
    margin : auto;
    padding-top: 10px;
    font-size: 50px;
}

#logo{
    margin: auto;
    margin-left: 0px;
    order: 1;
}

h1,h2,h3{
    font-family:Oswald;
    text-align: center;
}

footer p {
   font-family: roboto;
   padding-left: 30px;
}

footer {
    order: 3;
    align-self: flex-start;
    background-color: #e9e9e9;
    width: 100%;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 950px;
    margin: 0px;
}

#pweb_body {
    order: 2;
    flex: 1;
    width: 80%;
    align-self: center;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation{
    display: block;
    background-color: #cf0a2c;
    text-align: center;
    line-height: 50px;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    width: 250px;
    height: 50px;
    text-decoration: none;
    align-self: center;
}

.mini_navigation{
    display: block;
    background-color: #cf0a2c;
    text-align: center;
    line-height: 50px;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    width: 175px;
    height: 50px;
    text-decoration: none;
    align-self: center;
}

.mini_nav_box{
    align-self: center;
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_box{
    align-self: center;
    background-color: white;
    width: 25%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#profil_box{
    align-self: center;
    background-color: white;
    width: 60%;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#profil_box div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#trait{
    height: 300px;
    border: 1px #686868 solid;
    padding: 0px;
}

#profil_edit_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 30%;
    align-self: center;
    margin:70px;
}

#session_nav_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-height: 700px;
    align-self: center;
    background-color: white;
    align-items: center;
}

#session_nav_box div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e9e9e9;
    width: 80%;
    align-self: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#session_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 80%;
    min-height: 600px;
    align-items: center;
    align-self: center;
}

#session_box ol{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 80%;
    min-height: 200px;
}

#session_box ol li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 25%;
    min-height: 25%;
}

#session_box .resultat_line{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

#session_box #bilan_retour_box{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 80%;
    height: 40%;
}

#session_manag_box {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 80%;
    min-height: 700px;
    justify-content: space-around;
    background-color: white;
}

#session_manag_box .intern{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
}

#qcm_select_box{
    align-self: center;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
	align-items: center;
    width: 80%;
	padding-bottom: 30px;
	padding-top: 30px;
}

#qcm_select_box .qcm{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e9e9e9;
	align-items: center;
    width: 80%;
	margin-top: 30px;
}

#qcm_select_box .qcm .questions{
	display: flex;
	align-items: center;
    justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
}

.session_bilan_box {
	display: flex;
	width: 80%;
	min-height: 400px;
	align-self: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: white;
}

.session_bilan_box .eleve_result {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.session_bilan_box p {
	padding-left: 30px;
}

.session_bilan_box .bonne strong {
	color : green;
}

.session_bilan_box .mauvaise strong {
	color : red;
}

#centered{
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Oswald/Oswald-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Oswald';
  font-style: bold;
  font-weight: 400;
  src: url('fonts/Oswald/Oswald-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Oswald';
  font-style: italic;
  font-weight: 400;
  src: url('fonts\Oswald\Oswald-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts\Roboto\Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 400;
  src: url('fonts\Roboto\Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts\Roboto\Roboto-Italic.ttf') format('ttf');
}